/holamund/target/
/TipoVariables/target/
/LeerJava/target/
/AreaCuadrado/target/
/CuboNumero/target/
/DistanciaDosPuntos/target/
/CalcularPorcentaje/target/
/Casting/target/
/Horoscopo/target/
/ReglaTres/target/
/mavenproject4/target/
/mavenproject3/target/
/SumaNumeros/target/
/Juego/target/
/TipoTriangulo/target/
/Ruih/target/
/Grupo/target/
/IngresarNumero/target/
/Aviso/target/